<nav class="navbar navbar-expand-lg navbar-light bg-light">
   
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <span class="navbar-brand mb-0 h1">Dashboard</span>
      </ul>
      <span class="navbar-text">
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
      </span>
    </div>

  </nav>

  <div class="container ">
    <p class="lead mb-3 text-center mt-80">Welcome <%= name %></p>
  </div>
 


